<h1>Contacts</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <%= erb :_table_row, layout: false, locals: {contact: contact} %>
    <% end %>
  </tbody>
</table>
<a id="new" href="/contacts/new" title="Add Contact">Add Contact</a>
